%h1 Manga Search
%div{'ng-controller' => 'MangafoxCtrl'}
  .form-group
    = text_field_tag 'query', '', class: 'form-control', placeholder: "Manga name", 'ng-model' => 'query'
  .query-content{'ng-if' => 'query.length > 3'}
    {{ mangas.length }} result for "{{query}}"
  .search-result
    %figure{'ng-repeat' => 'manga in mangas', style: 'float:left;'}
      %a{href: "/manga/title?link={{manga[2]}}", target: '_blank'}
        %img{src: "http://l.mfcdn.net/store/manga/{{manga[0]}}/cover.jpg", height: '300px'}
        %figcaption {{ manga[1] }}
